.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .chatbox {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
  }
  
  .message-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
  }
  
  .message-input input {
    margin-right: 10px;
    flex-grow: 1;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }