.mess{
  display: flex;
  flex-direction: row;
}
li {
  display:flex;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

li.left {
  float: left;
  clear: both;
  justify-self: flex-start;
  margin-right: 20px;
  background-color: #ddd;
  color: black;
}

li.right {
  float: right;
  clear: both;
  justify-self: flex-end;
  background-color: blue;
  color: white;
  text-align: right;
}

  
  @media (min-width: 576px) {
    .row {li {
        list-style-type: none;
        margin-bottom: 10px;
        padding: 10px;
        overflow: hidden;
        position: relative;
        background-color: blue;
        color: white;
        width: fit-content;
        border-radius: 5px;
      }
      
      li.left {
        float: left;
        clear: both;
        margin-right: 20px;
        background-color: #ddd;
        color: black;
      }
      
      li.right {
        margin-left: auto;
        float: none;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        background-color: blue;
        color: white;
      }
      
      @media (min-width: 576px) {
        .row {
          display: flex;
          flex-wrap: wrap;
        }
        .col {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
        }
      }
      display: flex;
      flex-wrap: wrap;
    }
    .col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  li.self {
    float: right; /* Float the message to the right */
    clear: both; /* Clear the float property */
    margin-left: auto; /* Push the message to the right */
    text-align: right; /* Align the text to the right */
    background-color: blue;
    color: white;
  }